.arrow-down {
width: 0; 
height: 0; 
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-bottom: 20px solid #2196F3 ;
margin-top: 0px!important;
margin-bottom:0px!important;
padding-bottom: 0px!important;
padding-top: 0px!important;
margin: 0 auto;
}

.parallax-container2 {
position: relative;
overflow: hidden;
}

.titular{
display: inline-block;
background-color: rgba(52, 52, 52, 0.47);
padding: 14px;
}

#software{
background-image: url('../images/software_big.jpg');
height: 704px;
}
.preview{
height: 20%;
width: 20%;

}
#nomargin{
padding-top:0px;
padding-bottom:0px;
margin-bottom:0px;
margin-top:0px;
}
.parallax-container2 {
position: relative;
overflow: hidden;
}

.titular{
display: inline-block;
background-color: rgba(52, 52, 52, 0.47);
padding: 14px;
}
#header_team{
height:300px;

}

#dropdown1{
margin-top:64px;
}

#tabla_contenido{
position: fixed;
top: 370px;
right:50px;;

}
#inicio{
z-index:3;
}

#container_proceso{
	padding-left: 2%;
padding-right: 2%;
}

#no_sombra{

-webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
-moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}